/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.07.2018, 14:24:10
    Author     : Christoph Uhlendorff | Patrick Neumüller
*/

.menueButton {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}

