/* 
    Created on : 24.06.2018, 16:57:45
    Author     : Christoph Uhlendorff | Patrick Neumüller
*/
body
{
    margin: 0;
    font-family:Gill Sans,Arial,sans-serif;
}

#topnav-loginmenu
{
    float: right;
}



#logo
{
    background-color: #2c4359;
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-size: 22px;
    padding: 10px 10px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
}

.navbar-spacer
{
    height: 54px;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
