/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.07.2018, 22:03:58
    Author     : Christoph Uhlendorff | Patrick Neumüller
*/

body
{
    margin: 0;
    font-family:Gill Sans,Arial,sans-serif;
}

.header
{
    background-color: #d3d3d3;
    color: #000000;
    padding: 10px;
    padding-left: 20px;
}

.bottom-spaced-small
{
   margin-bottom:5px;
    display:inline-block;
}

.bottom-spaced-medium
{
   margin-bottom:10px;
    display:inline-block;
}

#heading
{
    background-color: #2d3ebc;
    font-size: 2em;
    color: #ffffff;
    margin-left: -30px;
    padding: 10px;
    padding-left: 30px;
}

.wizard
{
    background-color: #2d3ebc;
    font-size: 2em;
    color: #ffffff;
    margin-left: -30px;
    padding: 10px;
    padding-left: 30px;
}