/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.07.2018, 17:35:11
    Author     : Christoph Uhlendorff | Patrick Neumüller
*/

.site-content-wrapper
{
    border-style: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.sidebar
{
    margin: 0;
    padding: 10px;
    color: #ffffff;
    background-color: #3a3a3a;
    border-radius: 0;
    height: 100%;
    width: 255px;
    
}

.site-content
{
    background-color: #ffffff;
}

.sidebar-container-outer
{   
    border-style: none;
    border-radius: 0;
    margin: 0;
    padding: 0; 
    margin-top: 0px;
    width: 100%;
}