<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Impfung eintragen</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:dataTable var="vaccine" value="#{newVaccineDialogModel.vaccines}" widgetVar="vaccineTable"
                         emptyMessage="Keine Impfungen gefunden" filteredValue="#{newVaccineDialogModel.filteredVaccines}">

                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Alle Felder durchsuchen:" />
                        <p:inputText id="globalFilter" onkeyup="PF('doctorTable').filter()" style="width:150px" placeholder="Suchbegriff eingeben"/>
                    </p:outputPanel>
                </f:facet>

                <p:column filterBy="#{vaccine.beschreibung}" headerText="Impfstoffart" filterMatchMode="contains">
                    <h:outputText value="#{vaccine.beschreibung}"></h:outputText>
                </p:column>

                <p:column filterBy="#{vaccine.indikationsgruppe}" headerText="Krankheit / Stoff- Indikationsgruppe" filterMatchMode="contains">
                    <h:outputText value="#{vaccine.indikationsgruppe}" />
                </p:column>

                <p:column headerText="Impfstoff wählen">
                    <p:commandButton icon="ui-icon ui-icon-caret-1-e" actionListener="#{newVaccineDialogModel.selectVaccineFromDialog(vaccine)}">
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

