<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Impfpass</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
    <h:body>
       <h:form>
           <p:dataTable var="vaccine" value="#{patientOverviewModel.patientVaccines}" widgetVar="vaccineTable"
                        emptyMessage="Keine Impfungen gefunden" filteredValue="#{patientOverviewModel.filteredPatientVaccines}">

                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Alle Felder durchsuchen:" />
                            <p:inputText id="globalFilter" onkeyup="PF('vaccineTable').filter()" style="width:150px" placeholder="Suchbegriff eingeben"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column filterBy="#{vaccine.impfDate}" headerText="Datum" filterMatchMode="contains">
                        <h:outputText value="#{vaccine.impfDate}">
                            
                        </h:outputText>
                    </p:column>

                    <p:column filterBy="#{vaccine.impstoff.beschreibung}" headerText="Impfstoff" filterMatchMode="contains">
                        <h:outputText value="#{vaccine.impstoff.beschreibung}" />
                    </p:column>
                </p:dataTable>
            </h:form>
    </h:body>
</html>

