<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Doktor hinzufügen</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>

    <h:body>
        <h:form>
            <p:dataTable var="doctor" value="#{doctorOverviewModel.doctors}" widgetVar="doctorTable"
                         emptyMessage="Keine Impfungen gefunden" filteredValue="#{doctorOverviewModel.filteredDoctors}">

                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Alle Felder durchsuchen:" />
                        <p:inputText id="globalFilter" onkeyup="PF('doctorTable').filter()" style="width:150px" placeholder="Suchbegriff eingeben"/>
                    </p:outputPanel>
                </f:facet>

                <p:column filterBy="#{doctor.userProfile.name}" headerText="Name" footerText="contains" filterMatchMode="contains">
                    <h:outputText value="#{doctor.userProfile.name}"></h:outputText>
                </p:column>

                <p:column filterBy="#{doctor.userProfile.lastname}" headerText="Nachname" footerText="contains" filterMatchMode="contains">
                    <h:outputText value="#{doctor.userProfile.lastname}" />
                </p:column>

                <p:column headerText="Hinzufügen">
                    <p:commandButton icon="fa fa-fw fa-remove" actionListener="#{doctorOverviewModel.selectDoctorFromDialog(doctor)}">
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>

</html>