<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Digitaler Impfpass</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>            
           

            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

            
                <h:panelGrid columns="2" cellpadding="5">

                    <h:outputText value="Benutzer Typ: " />
                    <h:selectOneMenu id="usertype" value="#{loginModel.userRole}" >
                        <f:selectItems value="#{loginModel.userRoles}"/>
                    </h:selectOneMenu>

                    <h:outputLabel for="username" value="Username:" />
                    <p:inputText id="username" value="#{loginModel.username}" required="true" label="username" />

                    <h:outputLabel for="password" value="Password:" />
                    <p:password id="password" value="#{loginModel.password}" required="true" label="password" />

                    <f:facet name="footer">
                        <p:commandButton value="Login" update="growl" action="#{loginModel.login()}"/>
                                          
                    </f:facet>  
                </h:panelGrid>
            
        </h:form>
        
        
    </h:body>
</html>
