<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Impfpass von #{impfpassPDFModel.getFullUsername()}</title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="impfpasspdf.css"></h:outputStylesheet>

        <div class="header">
            <label class="bottom-spaced-medium" id="heading">Impfpass</label>
            <div id="userinfo">
                <label class="bottom-spaced-small" id="patient">Inhaber: #{impfpassPDFModel.getFullUsername()}</label><br></br>
                <label class="bottom-spaced-small" id="birthdate">Geboren: #{impfpassPDFModel.getBirthdate()}</label><br></br>
                <label class="bottom-spaced-small" id="address">Adresse:  #{impfpassPDFModel.getAddressStreet()}</label>
            </div>
        </div>

        <div id="vaccination-list">
            <p:dataTable var="impfung" value="#{impfpassPDFModel.vaccinations}">
                <p:column headerText="Datum">
                    <h:outputText value="#{impfung.impfDate.toString()}" />
                </p:column>

                <p:column headerText="Impfstoffart">
                    <h:outputText value="#{impfung.impstoff.beschreibung}" />
                </p:column>

                <p:column headerText="Doktor">
                    <h:outputText value="#{impfung.doctor.userProfile.title} #{impfung.doctor.userProfile.name} #{impfung.doctor.userProfile.lastname}" />
                </p:column>

            
            </p:dataTable>
        </div>

    </h:body>
</html>

