<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        
        <h:outputStylesheet library="css" name="navbar.css"></h:outputStylesheet>
        <ui:include src="menue.xhtml"></ui:include>
        <div class="topnav">
            <label id="logo">DigitalerImpfpass</label>
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>

        <h:form>    
            <p:growl id="msgs" showDetail="true" />

            <p:panel id="basic" header="EM Persistence Tests" footer="Testen ob Daten korrekt abgerufen und gespeichert werden." style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="10">
                    <h:outputText
                        value="Ergebnis: #{userRepoTestModel.doTest()}" />
                </h:panelGrid>   
            </p:panel>  
        </h:form>
        <p:button outcome="sessionSharedObjectTest" value="Sessionweite Objekte testen" icon="ui-icon-star">
        </p:button>
        <p:button outcome="pdfgenerateTest" value="PDF Generierung testen" icon="ui-icon-star">
        </p:button>
        <p:button outcome="impfpassPDF" value="PDF anzeigen" icon="ui-icon-star">
        </p:button>
        <p:button outcome="patient/profile" value="Profilseite anzeigen" icon="ui-icon-star">
        </p:button>
        <p:button outcome="register" value="Registration Test" icon="ui-icon-star">
        </p:button>
        <p:button outcome="/doctor/PatientOverview" value="Doktoransicht" icon="ui-icon-star">
        </p:button>
    </h:body>
</html>

