<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="sidebar.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="navbar.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="register.css"></h:outputStylesheet>

        <div class="header">
            <label class="bottom-spaced-medium w3-sepia-min" id="heading">Login</label>
        </div>


        <h:form>  

            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

            <h:panelGrid columns="2" cellpadding="5">
                <h:outputText value="Benutzer Typ: " />
                <h:selectOneMenu id="usertype" value="#{loginModel.userRole}" >
                    <f:selectItems value="#{loginModel.userRoles}"/>
                </h:selectOneMenu>

                <h:outputLabel for="username" value="Username:" />
                <p:inputText id="username" value="#{loginModel.username}" required="true" label="username" />

                <h:outputLabel for="password" value="Password:" />
                <p:password id="password" value="#{loginModel.password}" required="true" label="password" />


                <p:commandButton class="w3-button w3-black" value="Login" update="growl @all" action="#{loginModel.login()}"/>      
                
                <p:spacer></p:spacer>
                
                <p:button class="w3-button w3-black" outcome="register" value="Registrieren"/>
            </h:panelGrid>

        </h:form>

        <br></br>
        

    </h:body>
</html>
