<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <h:outputStylesheet library="css" name="navbar.css"></h:outputStylesheet>

    <!--div class="topnav">
        <label id="logo">DigitalerImpfpass</label>
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="navbar-spacer"></div-->



    <div class="topnav">
        <label id="logo">DigitalerImpfpass</label>

        <h:form>  

            <h:outputLink value="javascript:void(0)" onclick="PF('dlg').show();" title="login">
                <p:commandButton value="Login" type="button" class="w3-button w3-black" />
            </h:outputLink>
            



            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

            <p:dialog header="Login" widgetVar="dlg" resizable="false">

                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText value="Benutzer Typ: " />
                    <h:selectOneMenu id="usertype" value="#{loginModel.userRole}" >
                        <f:selectItems value="#{loginModel.userRoles}"/>
                    </h:selectOneMenu>

                    <h:outputLabel for="username" value="Username:" />
                    <p:inputText id="username" value="#{loginModel.username}" required="true" label="username" />

                    <h:outputLabel for="password" value="Password:" />
                    <p:password id="password" value="#{loginModel.password}" required="true" label="password" />

                    <f:facet name="footer">
                        <p:commandButton value="Login" update="growl @all" action="#{loginModel.login()}"/>           
                    </f:facet>  
                </h:panelGrid>
                
            </p:dialog>
        </h:form>

        <h:form>
            <h:outputLink  title="logout">
                <p:commandButton  value="Logout" ajax="false" update="@all" action="menue.xhmtl?faces-redirect=true" class="w3-button w3-black">
                    <f:actionListener binding="#{loginModel.logout()}" />
                </p:commandButton>
            </h:outputLink>
        </h:form>
        <div class="w3-container w3-gray w3-hover-text-white">
            <h:outputText  value="#{loginModel.loginWelcome()}" />
            </div>
    </div>

</ui:composition>

