<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
        <title>Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        
        <h:outputStylesheet library="css" name="sidebar.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="navbar.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="register.css"></h:outputStylesheet>
        
        <ui:include src="menue.xhtml"></ui:include>
        
        <div class="header">
            <label class="bottom-spaced-medium w3-sepia-min" id="heading">Registration</label>
        </div>
        
        <div class="w3-panel w3-sepia-min" style="width:95%;">
        <h:form class="w3-container">
            <p:messages />
            <p:growl id="growl" sticky="true" showDetail="true"/>

            <p:wizard class="wizard" flowListener="#{registerModel.onFlowProcess}">
                <p:tab id="benutzertyp" title="Benutzer Typ">
                    <p:panel header="Benutzer Typ">
                        <p:messages>

                        </p:messages>
                        <h:panelGrid columns="3" cellpadding="14" columnClasses="label, value">

                            <h:outputText value="Benutzer Typ: " />
                            <h:selectOneMenu id="usertype" value="#{registerModel.usertype}" >
                                <f:selectItems value="#{registerModel.getUsertypes()}"/>
                            </h:selectOneMenu>
                            <p:message for="usertype" />

                            <h:outputText value="Email: *" />
                            <p:inputText id="email" value="#{registerModel.email}" required="true" label="Email" validatorMessage="Email ist nicht gültig">
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                            </p:inputText>
                            <p:message for="email" />

                            <h:outputText value="Passwort: *" />
                            <p:password id="password" value="#{registerModel.newPassword}" required="true" label="Password" validatorMessage="Passwort Fehler">
                                <f:validateLength minimum="3" maximum="20" />
                            </p:password>
                            <p:message for="password" />

                            <h:outputText value="Passwort wiederholen: *" />
                            <p:password id="passwordAgain" value="#{registerModel.newPasswordAgain}" required="true" label="Password Wiederholen" validatorMessage="Passwort Fehler">
                                <f:validateLength minimum="3" maximum="20" />
                            </p:password>
                            <p:message for="passwordAgain" />

                            <p:commandButton value="Check" id="ajax" update="growl"
                                             actionListener="#{registerModel.checkPassword()}" styleClass="ui-priority-primary" />

                        </h:panelGrid>
                    </p:panel>
                </p:tab>

                <p:tab id="personal" title="Personalität">
                    <p:panel header="Personal Details">
                        <p:messages>

                        </p:messages>

                        <h:panelGrid columns="3" cellpadding="14" columnClasses="label, value">

                            <h:outputText value="Vorname: *" />
                            <p:inputText id="username" value="#{registerModel.username}" required="true"
                                         label="Vorname" validatorMessage="Vorname ist nicht gültig">
                                <f:validateLength minimum="1" maximum="20" />
                            </p:inputText>
                            <p:message for="username" display="icon"/>


                            <h:outputText value="Nachname: *" />
                            <p:inputText id="nachname" value="#{registerModel.lastname}" required="true" label="Nachname"
                                         validatorMessage="Nachname ist nicht gültig">
                                <f:validateLength minimum="1" maximum="20" />
                            </p:inputText>
                            <p:message for="nachname" display="icon"/>


                            <h:outputText value="Titel: " />
                            <h:selectOneMenu id="title" value="#{registerModel.title}" >
                                <f:selectItems value="#{registerModel.getTitles()}"/>
                            </h:selectOneMenu>
                            <p:spacer></p:spacer>

                            <h:outputText value="Geschlecht: " />
                            <h:selectOneMenu id="gender" value="#{registerModel.gender}" >
                                <f:selectItems value="#{registerModel.getGenders()}"/>
                            </h:selectOneMenu>
                            <p:spacer></p:spacer>

                            <p:outputLabel for="geburtstag" value="Geburtstag:" />
                            <p:calendar id="geburtstag"
                                        converter="localDateTimeConverter"
                                        required="true"
                                        value="#{registerModel.birthday}"
                                        showOn="button"
                                        pattern="dd.MM.yyyy" />

                        </h:panelGrid>
                    </p:panel>
                </p:tab>

                <p:tab id="address" title="Addresse">
                    <p:panel header="Address Details">
                        <p:messages />
                        <h:panelGrid columns="3" cellpadding="14" columnClasses="label, value">

                            <h:outputText value="Straßenname " />
                            <p:inputText id="strasse" value="#{registerModel.streetname}" required="true" validatorMessage="Straßenname ist nicht gültig">
                                <f:validateLength minimum="1" maximum="20" />
                            </p:inputText>
                            <p:message for="strasse" display="icon"/>

                            <h:outputText value="Hausnummer: " />
                            <p:inputText id="hausnummer" value="#{registerModel.housenumber}" required="true" validatorMessage="Hausnummer ist nicht gültig">
                                <f:validateDoubleRange minimum="1" maximum="9999" />
                            </p:inputText>
                            <p:message for="hausnummer" display="icon" />

                            <h:outputText value="PLZ: " />
                            <p:inputText id="plz" value="#{registerModel.zipcode}" required="true" validatorMessage="PLZ ist nicht gültig" >
                                <f:validateDoubleRange minimum="10000" maximum="99999" />
                            </p:inputText>
                            <p:message for="plz" display="icon" />

                            <h:outputText value="Stadt: " />
                            <p:inputText id="stadt" value="#{registerModel.cityName}" required="true" validatorMessage="Stadt ist nicht gültig">
                                <f:validateLength minimum="1" />
                            </p:inputText>
                            <p:message for="stadt" display="icon" />  

                            <h:outputText value="Land: " />
                            <p:inputText id="land" value="#{registerModel.country}" required="true" validatorMessage="Land ist nicht gültig">
                                <f:validateLength minimum="1" />
                            </p:inputText>
                            <p:message for="land" display="icon" /> 

                        </h:panelGrid>
                    </p:panel>
                </p:tab>


                <p:tab id="confirm" title="Überprüfung">
                    <p:panel header="Confirmation">
                        <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Name: " />
                                <h:outputText value="#{registerModel.username}" styleClass="outputLabel"/>

                                <h:outputText value="Email: " />
                                <h:outputText value="#{registerModel.email}" styleClass="outputLabel"/>

                                <h:outputText value="Titel: " />
                                <h:outputText value="#{registerModel.title}" styleClass="outputLabel"/>

                                <h:outputText value="Geschlecht: " />
                                <h:outputText value="#{registerModel.gender}" styleClass="outputLabel"/>

                                <h:outputText value="Geburtsdatum: " />
                                <h:outputText value="#{registerModel.birthday}" styleClass="outputLabel"/>
                            </h:panelGrid>

                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Straßenname: " />
                                <h:outputText value="#{registerModel.streetname}" styleClass="outputLabel"/>

                                <h:outputText value="Hausnummer: " />
                                <h:outputText value="#{registerModel.housenumber}" styleClass="outputLabel"/>

                                <h:outputText value="PLZ: " />
                                <h:outputText value="#{registerModel.zipcode}" styleClass="outputLabel"/>

                                <h:outputText value="Stadt: " />
                                <h:outputText value="#{registerModel.cityName}" styleClass="outputLabel"/>

                                <h:outputText value="Land: " />
                                <h:outputText value="#{registerModel.country}" styleClass="outputLabel"/>

                            </h:panelGrid>

                        </h:panelGrid>

                        <p:commandButton value="Bestätigen" actionListener="#{registerModel.save}" update="growl" process="@this"/>
                    </p:panel>
                </p:tab>
            </p:wizard>
            <p:button style="center" outcome="index" value="Home" icon="home">
        </p:button>
            
        </h:form>
    </div>
        
    </h:body>
</html>
