<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Sessionweite Objekte test</title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="navbar.css"></h:outputStylesheet>
        <div class="topnav">
            <label id="logo">DigitalerImpfpass</label>
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>

        <h:form>    
            <p:growl id="msgs" showDetail="true" />

            <p:panel id="basic" header="Inhalt des Loginobjektes" footer="Testen ob Objektinstanzen Sessionweit injiziert werden." style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="10">
                    <h:outputText
                        value="Ergebnis: #{sessionSharedObjectTestModel.doTest()}" />
                </h:panelGrid>
            </p:panel>
        </h:form>
        <p:button outcome="sessionSharedObjectTest" value="Sessionweite Objekte testen" icon="ui-icon-star">
        </p:button>
    </h:body>
</html>

