<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Impfpass</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="sidebar.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="navbar.css"></h:outputStylesheet>

        <div class="topnav">
            <label id="logo">DigitalerImpfpass</label>
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div class="navbar-spacer"></div>

        <!-- Sidebar -->
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:250px;">
            <h3 class="w3-bar-item">Menu</h3>
            <h:form>          
                <p:growl id="messages" showDetail="true" />
                <p:menu toggleable="true" style="margin: 10px; border-style: none; border-radius: 0;">
                    <p:submenu label="Übersicht">
                        <p:menuitem value="Start" outcome="/patient/DueVaccinations" icon="ui-icon-disk" />
                        <p:menuitem value="Profil" outcome="/patient/profile" icon="ui-icon-disk" />
                        <p:menuitem value="Impfungen" outcome="/patient/impfpass" icon="ui-icon-disk"/>
                        <p:menuitem value="Doktoren" outcome="/patient/DoctorOverview" icon="ui-icon-disk" />
                    </p:submenu>
                </p:menu>
            </h:form>
        </div>

        <!-- Page Content -->
        <div id="pageContent" style="margin-left:250px">

            <div class="w3-container w3-teal">
                <h1>Ihre Doktoren</h1>
                <h:form>
                    <p:growl id="growl" showDetail="true" />
                    <p:commandButton style="margin-bottom: 15px;" value="Doktor hinzufügen" icon="ui-icon-extlink" actionListener="#{doctorOverviewModel.showAddDoctorDialog()}">
                        <p:ajax event="dialogReturn" listener="#{doctorOverviewModel.onDoctorChosen}" update="growl docOverview" />
                    </p:commandButton>
                </h:form>
            </div>

            <h:form id="docOverview">
                <p:growl id="message" showDetail="true" />
                <p:dataList emptyMessage="Der Impfpass wurde mit keinem Doktor geteilt." value="#{doctorOverviewModel.patientsDoctors}" var="doctor" type="ordered" itemType="none" paginator="true" rows="10" styleClass="paginated">
                    <p:commandButton icon="fa fa-fw fa-remove" actionListener="#{doctorOverviewModel.removeDoctor(doctor)}"  update="docOverview">
                        <p:confirm header="Wirklich entfernen?" message="Soll der Doktor wirklich aus der Liste gelöscht werden?" icon="ui-icon-alert" />
                    </p:commandButton>
                    <h:outputText value="#{doctor.userProfile.lastname}, #{doctor.userProfile.name}" style="display:inline-block"/>
                </p:dataList>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:form>
        </div>
    </h:body>
</html>
