<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Profil</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="sidebar.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="navbar.css"></h:outputStylesheet>

        <div class="topnav">
            <label id="logo">DigitalerImpfpass</label>
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div class="navbar-spacer"></div>

        <!-- Sidebar -->
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:250px;">
            <h3 class="w3-bar-item">Menu</h3>
            <h:form>          
                <p:growl id="messages" showDetail="true" />
                <p:menu toggleable="true" style="margin: 10px; border-style: none; border-radius: 0;">
                    <p:submenu label="Übersicht">
                        <p:menuitem value="Start" outcome="/patient/DueVaccinations" icon="ui-icon-disk" />
                        <p:menuitem value="Profil" outcome="/patient/profile" icon="ui-icon-disk" />
                        <p:menuitem value="Impfungen" outcome="/patient/impfpass" icon="ui-icon-disk"/>
                        <p:menuitem value="Doktoren" outcome="/patient/DoctorOverview" icon="ui-icon-disk" />
                    </p:submenu>
                </p:menu>
            </h:form>
        </div>

        <!-- Page Content -->
        <div style="margin-left:250px">

            <div class="w3-container w3-teal">
                <h1>Profil</h1>
            </div>

            <div class="ui-fluid">
                <div class="w3-container w3-teal">
                    <h3>Allgemein</h3>
                </div>
                <h:form>
                    <p:panelGrid columns="2" id="general_change_grid" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:growl id="general_messages" showDetail="true" />
                        <p:spacer/>

                        <p:outputLabel for="gender" value="Geschlecht"/>
                        <p:selectOneMenu value="#{userProfileModel.gender}" id="gender">
                            <f:selectItems value="#{userProfileModel.genders}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="title" value="Titel"/>
                        <p:selectOneMenu value="#{userProfileModel.title}" id="title">
                            <f:selectItems value="#{userProfileModel.titles}" />
                        </p:selectOneMenu>

                        <h:outputText value="Vorname: *" />
                        <p:inputText id="username" value="#{userProfileModel.username}" required="true"
                                     label="Vorname" validatorMessage="Vorname ist nicht gültig">
                            <f:validateLength minimum="1" maximum="20" />
                        </p:inputText>

                        <h:outputText value="Nachname: *" />
                        <p:inputText id="nachname" value="#{userProfileModel.lastname}" required="true" label="Nachname"
                                     validatorMessage="Nachname ist nicht gültig">
                            <f:validateLength minimum="1" maximum="20" />
                        </p:inputText>

                        <h:outputText value="Email: *" />
                        <p:inputText id="email" value="#{userProfileModel.email}" required="true" label="Email" validatorMessage="Email ist nicht gültig">
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </p:inputText>

                        <!--p:outputLabel for="calendar" value="Calendar"/-->
                        <!--p:calendar value="{userProfileModel.birthdate}" id="calendar"/-->
                        <p:spacer/>
                        <p:commandButton id="confirm_change_general" update="general_change_grid" actionListener="#{userProfileModel.changeGeneral}" value="Speichern" icon="fa fa-edit"/>
                    </p:panelGrid>
                </h:form>
                <br></br>
                <div class="w3-container w3-teal">
                    <h3>Angaben ändern</h3>
                </div>
                <h:form>
                    <p:panelGrid columns="2" id="pw_change_grid" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:growl id="pw_messages" showDetail="true" />
                        <p:spacer/>

                        <p:outputLabel for="pwd" value="Aktuelles Passwort"/>
                        <p:password id="pwd" value="#{userProfileModel.currentPassword}" validatorMessage="Passwort Fehler">
                            <f:validateLength minimum="3" maximum="20" />
                        </p:password>

                        <p:outputLabel for="pwd_new" value="Neues Passwort"/>
                        <p:password id="pwd_new" value="#{userProfileModel.newPassword}" required="true" validatorMessage="Passwort Fehler">
                            <f:validateLength minimum="3" maximum="20" />
                        </p:password>

                        <p:outputLabel for="pwd_new_repeat" value="Neues Passwort wiederholen"/>
                        <p:password id="pwd_new_repeat" value="#{userProfileModel.newPasswordRepeat}" required="true" validatorMessage="Passwort Fehler">
                            <f:validateLength minimum="3" maximum="20" />
                        </p:password>

                        <p:spacer/>
                        <p:commandButton id="confirm_change_pwd" update="pw_change_grid" actionListener="#{userProfileModel.changePassword}" value="Passwort ändern" icon="fa fa-edit"/>
                    </p:panelGrid>
                </h:form>
                <br></br>
                <div class="w3-container w3-teal">
                    <h3>Adresse ändern</h3>
                </div>
                <h:form>
                    <p:panelGrid columns="2" id="address_change_grid" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:growl id="address_messages" showDetail="true" />
                        <p:spacer/>

                        <h:outputText value="Straßenname " />
                        <p:inputText id="strasse" value="#{userProfileModel.streetname}" required="true" validatorMessage="Straßenname ist nicht gültig">
                            <f:validateLength minimum="1" maximum="20" />
                        </p:inputText>

                        <h:outputText value="Hausnummer: " />
                        <p:inputText id="hausnummer" value="#{userProfileModel.housenumber}" required="true" validatorMessage="Hausnummer ist nicht gültig">
                            <f:validateDoubleRange minimum="1" maximum="9999" />
                        </p:inputText>

                        <h:outputText value="Stadt: " />
                        <p:inputText id="stadt" value="#{userProfileModel.cityName}" required="true" validatorMessage="Stadt ist nicht gültig">
                            <f:validateLength minimum="1" />
                        </p:inputText>

                        <h:outputText value="PLZ: " />
                        <p:inputText id="plz" value="#{userProfileModel.zipcode}" required="true" validatorMessage="PLZ ist nicht gültig" >
                            <f:validateDoubleRange minimum="10000" maximum="99999" />
                        </p:inputText>

                        <h:outputText value="Land: " />
                        <p:inputText id="land" value="#{userProfileModel.country}" required="true" validatorMessage="Land ist nicht gültig">
                            <f:validateLength minimum="1" />
                        </p:inputText>
                        <p:spacer/>
                        
                        <p:commandButton id="confirm_change_address" update="address_change_grid" actionListener="#{userProfileModel.changeAddress}" value="Speichern" icon="fa fa-edit"/>
                    </p:panelGrid>
                </h:form>
            </div>
        </div>
    </h:body>
</html>

